<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.calendarMapper">

	<!-- 
		mybatis-config.xml의 typeAlias에 등록해두지 않았다면 
		
		<select id="selectMember" resultType="com.example.dto.MemberVO" >
			SELECT ID, PW ,NAME FROM TEST
		</select>
		
		이렇게 해야 한다.
	-->
	
	<insert id="insertDiary">
		INSERT INTO calendar(userid, date, title, body, mood)
		VALUES (#{userid}, #{date}, #{title}, #{body}, #{mood})
	</insert>

	<update id="updateDiary">
		UPDATE calendar SET title = #{title}, body = #{body}, mood = #{mood}
		WHERE userid = #{userid} AND date = #{date}
	</update>

	<select id="selectDiary" parameterType="hashmap" resultType="hashmap">
		SELECT title, body, mood FROM calendar
		WHERE userid = #{userid} AND date = #{date}
	</select>
	
</mapper>